*{
    margin: 0;
    padding: 0;
}
.header{
    width: 1519px;height: 5000px;
    background: #ffffff;
    position: absolute;
}
.nav1{
    width: 300px;height: 100px;
    background: #dc0606;
    position: absolute;
}
.logo1{
    width: 75px;height: 75px;
    position: relative;
    top: 18px;
    left: 110px;
}
.nav2{
    width: 919px;height: 100px;
    background: #222c37;
    position: inherit;
    left: 300px;
    bottom: 4900px;
}
.h1{
    text-decoration: none;
    color: #dadada;
    font-family: 'Outfit', sans-serif;
    position: relative;
    top: 40px;
    left: 300px;
}
.h1:hover{
    color: #fff;
}
.nav3{
    width: 300px;height: 100px;
    background: #1b232b;
    position: inherit;
    left: 1219px;
    bottom: 4900px;
}

.box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.input-1 {
    padding: 10px;
    width: 40px;
    height: 40px;
    background: none;
    border: 3px solid #dc0606;
    border-radius: 100px;
    box-sizing: border-box;
    font-family: Comic Sans MS;
    font-size: 20px;
    color: #000;
    outline: none;
    transition: .5s;
}
.box:hover .input-1{
    width: 200px;
    background: white;
    border-radius: 50px;
}
i{
    position: absolute;
    top: 50%;
    right: 2px;
    transform: translate(-50%,-50%);
    font-size: 18px;
    color: #dc0606;
    transition: .2s;
}
.box:hover i{
    opacity: 0;
    z-index: -1;
}
.box5{
    width: 1519px;height: 559px;
    background: white;
    position: absolute;
    top: 100px;
}
.i1{
    width: 100%;height: 100%;
    position: absolute;
}
.f1{
    position: relative;
    color: white;
    font-size: 50px;
    font-family: Verdana, sans-serif;
    text-align: center;
    top: 180px;
}
.p1{
    position: relative;
    color: hsl(0deg 0% 100% / 75%);
    font-size: 15px;
    font-family: Verdana, sans-serif;
    text-align: center;
    top: 200px;
}
.box6{
    position: relative;
    width: 850px;height: 3505px;
    top: 745px;
    left: 150px;
}
.bo1{
    position: relative;
    width: 40px;height: 40px;
    background: #dc0606;
}
.box7{
    position: relative;
    width: 318px;height: 3505px;
    bottom: 2760px;
    right: -1050px;
}
.box8{
    position: sticky;
    width: 318px;height: 418px;
    align-self: start;
    margin-top: 200px;
    top: 0px;
    right: 100px;
}
.box9{
    position: relative;
    width: 40px;height: 40px;
    background: #dc0606;
    top: 30px;
}
.f4{
    position: relative;
    color: #202020;
    font-family: Verdana, sans-serif;
    left: 50px;
    font-size: 22px;
    bottom: 5px;
}
.bo2{
    position: relative;
    width: 40px;height: 40px;
    background: #dc0606;
}
.f2{
    position: relative;
    color: #202020;
    font-family: Verdana, sans-serif;
    left: 50px;
    font-size: 22px;
    bottom: 33px;
}
.h12{
    position: relative;
    color: #202020;
    font-family: 'Gill Sans', 'Gill Sans MT', sans-serif;
    font-size: 38px;
    font-weight: bold;
    text-decoration: none;
}
.h12:hover{
    text-decoration: underline;
}
.h13{
    position: relative;
    color: #202020;
    font-family: 'Gill Sans', 'Gill Sans MT', sans-serif;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    left: 330px;
    top: -272px;
    display: block;
}
.h13:hover{
    text-decoration: underline;
}
.h14{
    position: relative;
    color: #202020;
    font-family: 'Gill Sans', 'Gill Sans MT', sans-serif;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    left: 330px;
    top: -272px;
    display: block;
}
.h14:hover{
    text-decoration: underline;
}
.h15{
    position: relative;
    color: #202020;
    font-family: 'Gill Sans', 'Gill Sans MT', sans-serif;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    left: 330px;
    top: -272px;
    display: block;
}
.h15:hover{
    text-decoration: underline;
}
.h16{
    position: relative;
    color: #202020;
    font-family: 'Gill Sans', 'Gill Sans MT', sans-serif;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    left: 330px;
    top: -272px;
    display: block;
}
.h16:hover{
    text-decoration: underline;
}
.h17{
    position: relative;
    color: #202020;
    font-family: 'Gill Sans', 'Gill Sans MT', sans-serif;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    left: 330px;
    top: -272px;
    display: block;
}
.h17:hover{
    text-decoration: underline;
}
.h18{
    position: relative;
    color: #202020;
    font-family: 'Gill Sans', 'Gill Sans MT', sans-serif;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    left: 330px;
    top: -272px;
    display: block;
}
.h18:hover{
    text-decoration: underline;
}
.h19{
    position: relative;
    color: #202020;
    font-family: 'Gill Sans', 'Gill Sans MT', sans-serif;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    left: 330px;
    top: -272px;
    display: block;
}
.h19:hover{
    text-decoration: underline;
}
.h20{
    position: relative;
    color: #202020;
    font-family: 'Gill Sans', 'Gill Sans MT', sans-serif;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    left: 330px;
    top: -272px;
    display: block;
}
.h20:hover{
    text-decoration: underline;
}
.h21{
    position: relative;
    color: #202020;
    font-family: 'Gill Sans', 'Gill Sans MT', sans-serif;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    left: 330px;
    top: -272px;
    display: block;
}
.h21:hover{
    text-decoration: underline;
}
.mn1{
    position: relative;
    width: 850px;height: 439px;
}
.mn1:hover{
    opacity: 0.8;
}
.f5{
    position: relative;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    margin-top: 10px;
    line-height: 25px;
}
.f6{
    position: relative;
    font-family: Roboto;
    color: #666666;
    top: 20px;
    font-weight: bold;
}
.f7{
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    color: #9d9d9d;
    font-size: 10px;
    left: 120px;
    top: 3px;
}
.f8{
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: normal;
    margin-top: 10px;
    line-height: 20px;
    left: 330px;
    top: -260px;
}
.f9{
    position: relative;
    font-family: Roboto;
    font-size: 10px;
    color: #666666;
    right: 135px;
    bottom: 230px;
    font-weight: bold;
}
.f10{
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    color: #9d9d9d;
    font-size: 10px;
    right: 110px;
    bottom: 229px;
}
.f11{
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: normal;
    margin-top: 10px;
    line-height: 20px;
    left: 330px;
    top: -260px;
}
.f12{
    position: relative;
    font-family: Roboto;
    font-size: 10px;
    color: #666666;
    left: 250px;
    bottom: 230px;
    font-weight: bold;
}
.f13{
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    color: #9d9d9d;
    font-size: 10px;
    left: 280px;
    bottom: 229px;
}
.f14{
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: normal;
    margin-top: 10px;
    line-height: 20px;
    left: 330px;
    top: -260px;
}
.f15{
    position: relative;
    font-family: Roboto;
    font-size: 10px;
    color: #666666;
    right: 190px;
    bottom: 230px;
    font-weight: bold;
}
.f16{
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    color: #9d9d9d;
    font-size: 10px;
    right: 160px;
    bottom: 229px;
}
.f17{
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: normal;
    margin-top: 10px;
    line-height: 20px;
    left: 330px;
    top: -260px;
}
.f18{
    position: relative;
    font-family: Roboto;
    font-size: 10px;
    color: #666666;
    right: 85px;
    bottom: 230px;
    font-weight: bold;
}
.f19{
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    color: #9d9d9d;
    font-size: 10px;
    right: 58px;
    bottom: 229px;
}
.f20{
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: normal;
    margin-top: 10px;
    line-height: 20px;
    left: 330px;
    top: -260px;
}
.f21{
    position: relative;
    font-family: Roboto;
    font-size: 10px;
    color: #666666;
    left: 178px;
    bottom: 230px;
    font-weight: bold;
}
.f22{
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    color: #9d9d9d;
    font-size: 10px;
    left: 205px;
    bottom: 229px;
}
.f23{
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: normal;
    margin-top: 10px;
    line-height: 20px;
    left: 330px;
    top: -260px;
}
.f24{
    position: relative;
    font-family: Roboto;
    font-size: 10px;
    color: #666666;
    right: 124px;
    bottom: 230px;
    font-weight: bold;
}
.f25{
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    color: #9d9d9d;
    font-size: 10px;
    right: 100px;
    bottom: 229px;
}
.f26{
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: normal;
    margin-top: 10px;
    line-height: 20px;
    left: 330px;
    top: -260px;
}
.f27{
    position: relative;
    font-family: Roboto;
    font-size: 10px;
    color: #666666;
    left: 86px;
    bottom: 230px;
    font-weight: bold;
}
.f28{
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    color: #9d9d9d;
    font-size: 10px;
    left: 115px;
    bottom: 229px;
}
.mn2{
    position: relative;
    margin-top: 40px;
    margin-bottom: 40px;
}
.mn2:hover{
    opacity: 0.8;
}
.mn3{
    position: relative;
    margin-top: 40px;
    margin-bottom: 40px;
}
.mn3:hover{
    opacity: 0.8;
}
.mn4{
    position: relative;
    margin-top: 40px;
    margin-bottom: 40px;
}
.mn4:hover{
    opacity: 0.8;
}
.mn5{
    position: relative;
    margin-top: 40px;
    margin-bottom: 40px;
}
.mn5:hover{
    opacity: 0.8;
}
.mn6{
    position: relative;
    margin-top: 40px;
    margin-bottom: 40px;
}
.mn6:hover{
    opacity: 0.8;
}
.mn7{
    position: relative;
    margin-top: 40px;
    margin-bottom: 40px;
}
.mn7:hover{
    opacity: 0.8;
}
.mn8{
    position: relative;
    margin-top: 40px;
    margin-bottom: 40px;
}
.mn8:hover{
    opacity: 0.8;
}
.mn9{
    position: relative;
    margin-top: 40px;
    margin-bottom: 40px;
}
.mn9:hover{
    opacity: 0.8;
}
.mn10{
    position: relative;
    margin-top: 40px;
    margin-bottom: 40px;
}
.mn10:hover{
    opacity: 0.8;
}
.mn11{
    position: relative;
    margin-top: 40px;
    margin-bottom: 40px;
}
.mn11:hover{
    opacity: 0.8;
}
.f3{
    position: relative;
    color: #202020;
    font-family: Verdana, sans-serif;
    left: 50px;
    font-size: 22px;
    bottom: 33px;
}
.xh1{
    position: relative;
    width: 100%;height: 180px;
    top: 10px;
}
.xh1:hover{
    opacity: 0.8;
}
.h4{
    position: relative;
    font-size: 17px;
    font-family: 'Gill Sans', 'Gill Sans MT', sans-serif;
    top: 15px;
    color: #202020;
    font-weight: bold;
    text-decoration: none;
}
.h4:hover{
    text-decoration: underline;
}
.xh2{
    position: relative;
    width: 100%;height: 180px;
    top: 50px;
}
.xh2:hover{
    opacity: 0.8;
}
.h5{
    position: relative;
    font-size: 17px;
    font-family: 'Gill Sans', 'Gill Sans MT', sans-serif;
    top: 55px;
    color: #202020;
    font-weight: bold;
    text-decoration: none;
}
.h5:hover{
    text-decoration: underline;
}
.xh3{
    position: relative;
    width: 100%;height: 180px;
    top: 80px;
}
.xh3:hover{
    opacity: 0.8;
}
.h6{
    position: relative;
    font-size: 17px;
    font-family: 'Gill Sans', 'Gill Sans MT', sans-serif;
    top: 88px;
    color: #202020;
    font-weight: bold;
    text-decoration: none;
}
.h6:hover{
    text-decoration: underline;
}
.xh4{
    position: relative;
    width: 100%;height: 180px;
    top: 115px;   
}
.xh4:hover{
    opacity: 0.8;
}
.h7{
    position: relative;
    font-size: 17px;
    font-family: 'Gill Sans', 'Gill Sans MT', sans-serif;
    top: 125px;
    color: #202020;
    font-weight: bold;
    text-decoration: none;
}
.h7:hover{
    text-decoration: underline;
}
.xh5{
    position: relative;
    width: 100%;height: 180px;
    top: 150px;
}
.xh5:hover{
    opacity: 0.8;
}
.h8{
    position: relative;
    font-size: 17px;
    font-family: 'Gill Sans', 'Gill Sans MT', sans-serif;
    top: 160px;
    color: #202020;
    font-weight: bold;
    text-decoration: none;
}
.h8:hover{
    text-decoration: underline;
}
.dlxh1{
    position: relative;
    width: 70pt;height: 50pt;
    top: 40px;
}
.dlxh1:hover{
    opacity: 0.8;
}
.h9{
    position: relative;
    display: block;
    font-family: 'Gill Sans', 'Gill Sans MT', sans-serif;
    color: #202020;
    font-size: 16px;
    left: 100px;
    bottom: 35px;
    font-weight: bold;
    text-decoration: none;
}
.h9:hover{
    text-decoration: underline;
}
.dlxh2{
    position: relative;
    width: 70pt;height: 50pt;
    top: -10px;
}
.dlxh2:hover{
    opacity: 0.8;
}
.h10{
    position: relative;
    display: block;
    font-family: 'Gill Sans', 'Gill Sans MT', sans-serif;
    color: #202020;
    font-size: 16px;
    left: 100px;
    bottom: 85px;
    font-weight: bold;
    text-decoration: none;
}
.h10:hover{
    text-decoration: underline;
}
.dlxh3{
    position: relative;
    width: 70pt;height: 50pt;
    top: -42px;
}
.dlxh3:hover{
    opacity: 0.8;
}
.h11{
    position: relative;
    display: block;
    font-family: 'Gill Sans', 'Gill Sans MT', sans-serif;
    color: #202020;
    font-size: 16px;
    left: 100px;
    bottom: 116px;
    font-weight: bold;
    text-decoration: none;
}
.h11:hover{
    text-decoration: underline;
}
.footer{
    width: 1519px;height: 400px;
    position: absolute;
    background: #222c37;
    bottom: 0px;
}
.fo1{
    width: 100%;height: 100px;
    background: #1b232b;
    position: absolute;
    bottom: 0;
}
.fo2{
    position: absolute;
    color: white;
    bottom: 40px;
    left: 604px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.h22{
    position: relative;
    font-weight: bold;
    color: white;
    top: 50px;
    left: 620px;
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.h22:hover{
    color: #dc0606;
}
.h23{
    position: relative;
    font-weight: bold;
    color: white;
    top: 50px;
    left: 662px;
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.h23:hover{
    color: #dc0606;
}
.fo3{
    position: relative;
    width: 400px;height: 40px;
    text-align: center;
    margin-top: 150px;
    left: 562px;
}
.fo3 a{
    position: relative;
    color: white;
    text-decoration: none;
}
.iconify{
    width: 40px;height: 100%;
}
.fo3 a.color1:hover{
    color: rgb(24, 119, 242);
}
.fo3 a.color2:hover{
    color: rgb(0, 172, 237);
}
.fo3 a.color3:hover{
    color: rgb(234, 44, 89);
}
.fo3 a.color4:hover{
    color: rgb(88, 101, 242);
}
.fo3 a.color5:hover{
    color: rgb(225, 0, 0);
}
.fo3 a.color6:hover{
    color: rgb(0, 0, 0);
}
.fo3 a.color7:hover{
    color: rgb(0, 119, 183);
}
.footer h1{
    color: #fff;
    font-family: sans-serif;
    font-size: 20px;
    position: relative;
    width: 700px;
    left: 534px;
    top: 100px;
}