*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
body{
    background: url('Images/img-registration.jpg') no-repeat;
    background-size: cover;
    color: #fff;
}
.registration{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
}
.registration h1{
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    margin: 40px 0;
}
.registration p{
    font-size: 20px;
    margin: 15px 0;
}
.registration input{
    font-size: 16px;
    padding: 15px 10px;
    width: 100%;
    border: 0;
    border-radius: 5px;
    outline: none;
}
.registration button{
    font-size: 18px;
    font-weight: bold;
    margin: 20px 0;
    padding: 10px 15px;
    width: 50%;
    border: 0;
    border-radius: 5px;
    background-color: #fff;
}
.registration button:hover{
    color: #dc0606;
}
